
##########################################
# DATABASE - SUPABASE (PRISMA)
##########################################

# Pooler (usado pela aplicação)
DATABASE_URL="postgresql://postgres.PROJECT_ID:SUA_SENHA@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Conexão direta (usado pelo Prisma para migrations)
DIRECT_URL="postgresql://postgres:SUA_SENHA@db.PROJECT_ID.supabase.co:5432/postgres"


##########################################
# AUTH (JWT)
##########################################

JWT_SECRET="COLE_A_CHAVE_JWT_COMPARTILHADA_AQUI"


##########################################
# SERVER
##########################################

PORT=3000


##########################################
# OPCIONAL (FRONTEND / SUPABASE)
##########################################

SUPABASE_URL="https://PROJECT_ID.supabase.co"
SUPABASE_KEY="sua_chave_publica_aqui"