@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; /* Fonte padrão de projetos modernos no Figma */
  background-color: #f8fafc;
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
}